/* 去除内外边距 */
*{
    margin: 0;
    padding: 0;
}

html,
body,
#app,
.wrapper {
    width: 100%;
    height: 100%;
    overflow: hidden;
}
.bgc{
    background-color: #fafafa;
}

.header{
    background-color:#409EFF;
}
.btn-login{
    background-color: #409EFF;
    color: #fff;
}
.export{
    display: inline-block;
    width: 100px;
    height: 35px;
    line-height: 35px;
    border: none;
    border-radius: 4px;
    font-size: 15px;
    text-decoration: none;
    cursor: pointer;
    text-align: center;
    margin-left:8px;
    background-color: #409eff;
    color: #fff;
  }
  .upload {
    text-align: center;
  }
  .error {
    color: red;
  }
  .btn-add {
    display: block;
    width: 220px;
    height: 40px;
    line-height: 40px;
    border: none;
    border-radius: 4px;
    font-size: 18px;
    text-align: center;
    cursor: pointer;
    margin: 8px auto;
    background-color: #409eff;
    color: #fff;
  }
  .btn-add:hover {
    background-color: rgb(103, 178, 253);
  }
